<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849185486897-hdtuhph3si8mbose4c9upihhbtqeorqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849185486897-hdtuhph3si8mbose4c9upihhbtqeorqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>849185486897-no9ddqlsauvgg04angbl01fqp98r9883.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOlN6lSWjmmAmWMl7RoHqbGW4J8L9lfqk</string>
	<key>GCM_SENDER_ID</key>
	<string>849185486897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamropasal.pk</string>
	<key>PROJECT_ID</key>
	<string>hamropasal-78187</string>
	<key>STORAGE_BUCKET</key>
	<string>hamropasal-78187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849185486897:ios:a8eef5b4a840c2d7af3d10</string>
</dict>
</plist>